.sidebar {
  width: 20%;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  height: 100%;

  transition: width 0.3s;
  overflow: auto;
}

.sidebar > hr {
  height: 1px;
  border: 0;
  background: lightgray;
  margin: 10px 0;
}

.sidebar__collapse {
  width: 60px !important;
}

.sidebar__collapse > .sidebarRow > .sidebarRow__title {
  display: none;
}
