.sidebar {
  width: 20%;
  position: -webkit-sticky;
  position: sticky;
  top: 80px;
  height: 100%;

  overflow: auto;
}

.sidebar > hr {
  height: 1px;
  border: 0;
  background: lightgray;
  margin: 10px 0;
}
