.app_page {
  display: flex;
  min-height: calc(100vh - 80px);
}

.page__content {
  width: 80%;
  background: #f9f9f9;
  transition: width 0.3s;
}

.page__collapse {
  width: calc(100% - 40px) !important;
}
